body { 
    padding-top: 70px; 
}

.product img {
    max-width: 30%;
    margin-right: 10px;
    float: left;
}

.product {
    margin-bottom: 15px;
}

.product-body {
    border: 1px solid #DDD;
    border-top-style: none;
    padding: 10px;
    color: #666;
    box-shadow: 2px 2px 2px #EEE;
}

.product-title {
    background-color: #777;
    color: white;
    text-align: center;
    padding: 6px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 0px 2px #EEE, 0px 2px 2px #AAA;
}

.product-title a {
    display: block;
    text-decoration: none;
    color: white;
}

.product-title:hover {
    background-color: #999;
}

.product-outline {
    text-align: right;
    font-weight: bold;
    font-size: 0.9em;
}

.product-detail {
    border-top: 1px solid #BBB;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 0.8em;
    color: #666;
}

